doctype html
html
  head
    title Visual Search USC CS572
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel='stylesheet', href="/stylesheets/bootstrap-select.min.css")
    script(src="//d3js.org/d3.v3.min.js")
    script(src="/javascripts/d3.layout.cloud.js")
    script(src="http://d3js.org/topojson.v1.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(type="text/javascript").
            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };
    style.
        /* for Rinf Tree*/
        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node {
            font: 10px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }
        
        /* bar chart*/
        body {
          /*font: 8px sans-serif;*/
          margin-top: 50px
        }

        .axis path,
        .axis line {
          fill: none;
          stroke: #777;
          shape-rendering: crispEdges;
        }

        .bar {
          fill: orange;
        }

        .bar:hover {
          fill: orangered ;
        }

        .x.axis path {
          display: none;
        }
        
        /* map */
        .feature {
            fill: none;
            stroke: grey;
            stroke-width: 1px;
            stroke-linejoin: round;
        }
        .mesh {
            fill: none;
            stroke: lightgrey;
            stroke-width: 2px;
            stroke-linejoin: round;
        }
        
        /* custom */
        .tab-content {
            padding: 5px;
        }
        .nav-tabs {
            padding-top:30px;
        }
        #barchart svg {
            font: 8px sans-serif;   
        }
  body
    block nav
    block content
    
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(src="/javascripts/bootstrap-select.min.js")
    script(type="text/javascript").
        $('.selectpicker').selectpicker()
        
//        $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
//            var id = $(e.target).attr("href").substr(1);
//            window.location.hash = id;
//        });
//
//        var hash = window.location.hash;
//        $('#myTab a[href="' + hash + '"]').tab('show'); 